# Ignorar el directorio "enunciados"
enunciados/*

# Ignorar el directorio "enunciados"
pruebas/*

# Ignorar todos los directorios llamados "temp" en cualquier parte del proyecto
**/temp/

*.zip

testfiles/*.txt
